<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TotalCarForms.Properties.Settings.ConnectionString"
            connectionString="Data Source=FERNANDO-PC;Persist Security Info=True;User ID=totalcar;Password=suporte"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>